.App {
  //   max-width: 1200px;
  min-width: 900px;
  border: 1px solid black;
}

.top {
  // height: 60px;
  height: 8rem;
  color: red;
  display: flex;
  border: 1px solid blue;

  .logo {
    width: 200px;
    border: 1px solid darkgoldenrod;
  }
}

.middle {
  color: yellow;
  display: flex;
  border: 1px solid green;
}
